In [61]:
import pandas as pd
import featuretools as ft
from nlp_primitives import LSA

In [62]:
input_df = pd.DataFrame(
    {"text": [
        "The dogs ate food.",
        "She ate a pineapple",
        "Consume Electrolytes, he told me.",
        "Hello",
    ]}
)

In [63]:
lsa = LSA()

In [64]:
ft_results = lsa(input_df["text"])

In [65]:
ft_results[0]

[0.05716463797463586,
 0.026790826498206462,
 0.00726365883933014,
 -1.8513936181430952e-19]

In [66]:
ft_results[1]

[-0.04829517833687895,
 0.043821318514258904,
 0.005369132220348683,
 -1.19937808091834e-15]

In [67]:
from evalml.pipelines.components.transformers.preprocessing import LSA as evalmlLSA

evalml_lsa = evalmlLSA()
evalml_lsa.fit(input_df)
eval_ml_results = evalml_lsa.transform(input_df)

LSA()

In [71]:
eval_ml_results

   LSA(text)[0]  LSA(text)[1]
0  7.751553e-01 -6.022405e-18
1  7.751553e-01  1.319888e-16
2  5.746088e-17  1.000000e+00
3  7.067462e-16 -6.053319e-17

In [51]:
evalml_lsa._text_columns

['text']

In [54]:
input_df["text"].values.flatten()

array(['The dogs ate food.', 'She ate a pineapple',
       'Consume Electrolytes, he told me.', 'Hello'], dtype=object)

In [55]:
import nltk

In [56]:
gutenberg = nltk.corpus.gutenberg.sents()

In [60]:
len(gutenberg)

98503

['Emma',
 'Woodhouse',
 ',',
 'handsome',
 ',',
 'clever',
 ',',
 'and',
 'rich',
 ',',
 'with',
 'a',
 'comfortable',
 'home',
 'and',
 'happy',
 'disposition',
 ',',
 'seemed',
 'to',
 'unite',
 'some',
 'of',
 'the',
 'best',
 'blessings',
 'of',
 'existence',
 ';',
 'and',
 'had',
 'lived',
 'nearly',
 'twenty',
 '-',
 'one',
 'years',
 'in',
 'the',
 'world',
 'with',
 'very',
 'little',
 'to',
 'distress',
 'or',
 'vex',
 'her',
 '.']